<table class="table">
<thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Full Name</th>
        <th scope="col">Score</th>
    </tr>
</thead>
<tbody>
{% for player in playingXi %}
    
    <tr id={{player.id}}>
        <th scope="row">#</th>
        <td>{{player.name}}</td>
        <td><input type="number" value="{{player.score}}"/></td>
        <td>
            <div class="removePlayer" id="{{player.id}}">
                <a href="javascript:;"><i class="fa-sharp fa-solid fa-trash"></i></a>
            </div>
        </td>
    </tr>
    
{% endfor %}
</tbody>
</table>
    <script src="/task/bootstrap/js/bootstrap.js"></script>
    <script src="src/js/jquery-3.7.js"></script>
    <script src="src/js/players.js"></script>