<table class="table">
<thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">Full Name</th>
    </tr>
</thead>
<tbody>
{% for player in playingXi %}
    
    <tr id={{player.id}}>
    <th scope="row">#</th>
    <td>{{player.name}}</td>
    </tr>
    
{% endfor %}
</tbody>
</table>