<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <title>IPL management system</title>
  </head>
  <body class="bg-danger">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Congratulations</strong> New player inducted to the squad.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <script src="bootstrap/js/bootstrap.js"></script>
  </body>
</html>