<html>
  <head>
    <script type="text/javascript" src="src/js/googleChart.js"></script>
    <script type="text/javascript">
      var nameScore = JSON.parse('{{ nameAndScore | json_encode | raw }}');
      google.charts.load('current', {'packages':['corechart']});

        var nameScoreArray = [
            ['name', 'Score'],
        ];
        for (var i = 0; i<nameScore.length; i++) {
            var nameAndScore = [nameScore[i]['name'], nameScore[i]['score']]
            nameScoreArray.push(nameAndScore);
        }
      google.charts.setOnLoadCallback(function(){ drawChart(nameScoreArray) });
      function drawChart(nameScoreArray) {
        var data = google.visualization.arrayToDataTable(nameScoreArray);

        var options = {
          title: 'Players performance review.',
          width: 700,
          height: 500,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
  <div class="row">
    <div id="piechart" class="col-5" style="width: 900px; height: 500px;"></div>
    <div class="col-7">
      <table class="table">
      <thead>
          <tr>
              <th scope="col">Jersey Number</th>
              <th scope="col">Full Name</th>
              <th scope="col">Player Type</th>
          </tr>
      </thead>
      <tbody>
      {% for player in players %}
        <tr>
          <td>{{player.jersey_no}}</td>
          <td>{{player.name}}</td>
          <td>{{player.type}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </div>
  </div>
  </body>
</html>
