<html>
  <head>
    <script type="text/javascript" src="src/js/googleChart.js"></script>
    <script type="text/javascript">
      var nameScore = JSON.parse('{{ nameAndScore | json_encode | raw }}');
      google.charts.load('current', {'packages':['corechart']});

        var nameScoreArray = [
            ['name', 'Score'],
        ];
        for (var i = 0; i<nameScore.length; i++) {
            var nameAndScore = [nameScore[i]['name'], nameScore[i]['score']]
            nameScoreArray.push(nameAndScore);
        }
      google.charts.setOnLoadCallback(function(){ drawChart(nameScoreArray) });
      function drawChart(nameScoreArray) {
        var data = google.visualization.arrayToDataTable(nameScoreArray);

        var options = {
          title: 'Players performance review.',
          width: 700,
          height: 500,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
  </body>
</html>
